@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

.text-main {
  color: #0173aa;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.front-gallery {
  margin: auto 20px;
}

.album-gallery {
  margin: 50px 20px;
}

.logo {
  margin: auto 20px;
}

.icons {
  color: black;
}

i:hover {
  cursor: pointer;
}
